@{
    ViewBag.Title = "Trainer Controls";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <div class="buttonMenu">
        <a>@Html.ActionLink("Modify Availability", "Index", "TrainnerAvailabilities")</a><br />
    </div>
</div>